# Copy this to .env and fill in your credentials

# ── Milestone 2 ───────────────────────────────────────────────
OPENROUTER_API_KEY=your_openrouter_api_key_here
LLAMA_API_KEY=88f45b63bb094c94a2de9ea8646109f9.Wk4ygFFZKIEEPQBid4vYfPXq
NEO4J_URI=neo4j+s://b1583fed.databases.neo4j.io
NEO4J_USER=neo4j
NEO4J_PASSWORD=Hello@2141

# ── Milestone 3 ───────────────────────────────────────────────
PINECONE_API_KEY=pcsk_6MT8g4_N3goTXZRS5zjAPEku4e38ikgE3okypye1pZneQrNEYK3hNxySR4NPFnktKi1zQT
GROQ_API_KEY=your_groq_api_key_here
